.header {
  background-color: #42A5F5;
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  & img {
    height: 50px;
  }
}

.loginBlock {
 color: #fff;
}

.mainBtn {
  background-color: #fff;
  display: inline-flex;
  border: 1px solid #000;
  color: blue;
  height: 28px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0 10px;
  &:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }
}

.loginBlock__row {
  display: flex;
  align-items: center;
}

.loginBlock__name {
  font-size: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 575px) {
  .logo img {
    height: 40px;
  }
}
