.nav {
    width: 21%;
    min-width: 21%;
    background-color: #D81B60;
    padding: 20px;
    margin-right: 1%;
  }
  .nav ul {
      list-style: none;
  }

.item a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 3px;
    background: #fff;
    height: 2px;
    right: 0;
    width: 0;
    opacity: 0;
    transition: width .3s ease-out,opacity .3s ease-in-out;
  }
  &:hover {
    &:before {
      left: 0;
      right: auto;
      width: 100%;
      opacity: 1;
      transition: width .3s ease-out, opacity .3s ease-in-out;
    }
  }
  &.active {
    color: #000;
    &:before {
      background-color: #000;
    }
  }
}


@media only screen and (max-width: 767px) {
  .nav {
    width: 100%;
    min-width: auto;
    margin-bottom: 10px;
  }
}


